@import "barranavegacion";
@import "contacto";
@import "tienda";
@import "staff";
@import "diseno";
@import "galeria";

body{
    background: linear-gradient(to right, #000000, #434343);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


a{
    text-decoration: none;
    font-size: 2.5rem;
    color: beige;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    background-image: url(../multimedia/dark_wall.png);
    height: 12rem;
}



.iconosRedes{
    width: 4rem;
}


@import "mediaq";